.box_rotate {
	height: 20px;
	width: 15px;
	margin-top: 75px;
	margin-left: 15px;
	margin-right: 0;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270Zdeg);  /* Opera 10.5 */
	-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}


.navbar-static-top div ul li a {

}

/*Кнопки соціальних мереж*/
.social_like {
	margin: 10px 0 0 0;
}

.social_like div {
	display: inline-table;
}

.fb_iframe_widget span {
	vertical-align: baseline !important;
}

/*modal*/
.modal-footer .modal_message {
	display: none;
}

.modal-footer .modal_message_adv {
	display: none;
}

.modal-footer .modal_buttons {
	float: right;
}

.daycheck {
	margin-top: 10px;
}

.modal-body {
	overflow: visible;
}

.modal_message p b button, .modal_message p b span {
	margin: 0 5px;
}

/*Оформлення контейнера для модального вікна set_predmet*/
.modal_cont1 {
	margin: 0 15px 0 15px;
	float: left;
}

/*Невидимі поля модальних вікон*/
.modal_cont1>input {
	display: none;
}

#dm_param {
	display: none;
}

/*Невидимі поля вкладок*/
#tab2>input, #tab4>input {
	display: none;
}

#graph_modal .modal-body {
	overflow: auto;
}

.rgraph_buttons {
	float: left;
	width: 110px;
	margin: 0 10px 10px 0;
}

.rgraph_buttons .btn-group {
	margin-bottom: 10px;
}


.bysy_cell {
	background-color: #0bf !important;
}

/*Відступ таблиці в 2 i 3 вкладці  ##########################################*/  
#tab2 div, #tab3 div {
	margin-bottom: 10px;
}

#tab2 table tbody tr th:not(:first-child) {
	table-layout:fixed;
	width: 29px;
	height: 10px;
}

#tab3 table tbody tr th:not(:first-child) {
	table-layout:fixed;
	width: 15px;
	height: 10px;
}

/*Колір тексту для неактивної колонки set_predmet*/
.label_disabled {
	color: #adadad
}

/*Стиль для кнопок очистки полів set_predmet*/
.modal_container div .input-append input {
	width: 195px;
}

/*Модальне вікно додавання заняття*/
.modal_cont2 div p {
	margin: 0px 0 5px;
}

/*Модальне вікно додавання потокового заняття*/
.btn-group-vertical > .btn {
	max-width: 90%;
}

.modal_container div .btn-group {
	margin-top: 10px;
}


/*Модальне вікно додавання завдань кафедри*/
#tab4 .btn-group {
	margin-top: 0;
}

#tab4 .modal_cont2 .input-append {
	margin-top: 5px;
	margin-bottom: 60px;

}

#task-btn-group1 {
	margin-bottom: 5px;
}



#groups-popover {
	margin: 0 5px;
}

/*Оформлення таблиць розкладу та адміністрування розкладу*/
tr:hover:nth-child(6n-5) td:first-child {
	background-color: white !important;
	cursor: default;
}

#tab1 table tbody tr {
	cursor: text;
}

.subject_content {
	padding: 2px 5px !important;
}	

.subject_content p {
	margin: 2px 0;
}

.null {
	margin: 24px 0 !important;
}

.single_admin {
	padding: 18px 5px !important;
}

.single_content {
	padding: 15px 5px !important;
}

.single_sub {
	padding: 13px 0;
}

.day_para {
	width: 60px;
}


.set_predmet {
	width: 40px;
}

.subject_content hr {
	margin: 0;
	border-top-color: #ddd;
	
}

/*Оформлення головного меню навігації*/
.navbar-inner {
	padding-right: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.span3 .nav {
	padding-top: 10px;
}

.footer {
	text-align: center;
}

.span3>blockquote {
	margin: 0;
}

.span9 .hero-unit {
	margin: 35px 0;
}

/*Меню вкладок адміністрування розкладу*/
.opt_hide {
	display: none;
}

#opt_rozklad div p:first-child {
	margin: 10px 0 5px 0;
	text-align: center;
}

#opt_rozklad div p {
	margin: 0 0 5px;
}

#opt_rozklad div .progress {
	margin-bottom: 10px;
}

/*Меню вибору групи при пререгляді розкладу*/
.nav_tab_group li a {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*Стилі для кнопки вгору та випливаючих повідомлень*/
#toTop {
	position:fixed;
	bottom:20px;
	right:20px;
	cursor:pointer;
	opacity: 0.6;
	display: none;
}

body > .alert {
	display: none;
	position: fixed;
	bottom: 5px;
	left: 50%;
}

/*Вхід користувача*/
.login-form {
	text-align: center;
}

/*Анімація завантаження*/
#load_animation {
	display: none;
}

.circle {
	position: fixed;
	bottom: 70px;
	right: 50px;
	background-color: rgba(23, 190, 255, 0.59);
	border: 5px solid rgba(248, 162, 14, 0.9);
	opacity: .9;
	border-right: 5px solid rgba(60, 136, 71, 0.9);
	border-left: 5px solid rgba(185, 74, 72, 0.9);
	border-radius: 50px;
	box-shadow: 0 0 35px #FFFFA6;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	z-index: 1100;
	-moz-animation: spinPulse 1s infinite ease-in-out;
	-webkit-animation: spinPulse 1s infinite linear;
	-o-animation: spinPulse 1s infinite linear;
	-animation: spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(172, 172, 37, 0.5);
	border: 5px solid rgba(58, 135, 171, 0.9);
	opacity: .9;
	border-left: 5px solid rgba(180, 24, 105, 0.49);
	border-right: 5px solid rgba(20, 101, 223, 0.47);
	border-radius: 50px;
	box-shadow: 0 0 15px rgba(7, 34, 60, 0.75);
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: fixed;
	bottom: 80px;
	right: 60px;
	z-index: 1100;
	-moz-animation: spinoffPulse 1s infinite linear;
	-webkit-animation: spinoffPulse 1s infinite linear;
	-o-animation: spinoffPulse 1s infinite linear;
	-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-o-keyframes spinPulse {
	0% { -o-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -o-transform:rotate(145deg); opacity:1;}
	100% { -o-transform:rotate(-320deg); opacity:0; }
}
@-o-keyframes spinoffPulse {
	0% { -o-transform:rotate(0deg); }
	100% { -o-transform:rotate(360deg); }
}
@-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}


/*Drag And Drop*/

.dnd_live {
	display: none;
}

.pop_elem {
	position: relative;
	overflow: hidden;
	margin-top: -50px;
	display: none;
	height: 50px;
	background-color: rgba(245, 245, 245, 0.5);
	border-radius: 5px;
}

.pop_elem > div {
	margin: 6px 20px;
}

.pop_elem div div {
	margin: 0 10px;
	display: inline-block;
}

.drag_start {
	opacity: 0.4;
}

.drag_enter {
	opacity: 1 !important;
	color: black;
	background-color: rgb(0, 126, 255);
}

.mov_elem {
	position: relative;
	overflow: hidden;
	margin-top: -50px;
	display: none;
	height: 50px;
}

.mov_elem div {
	float: right;
	margin: 2px 15px;
}