{%extends "header.html"%}

{%block title%}Experimental{%endblock%}



{%block topnavleft%}
<li><a href="/rozklad/">Розклад груп</a></li>
<li><a href="/rozklad_teacher/">Розклад викладачів</a></li>
<li><a href="/forum/">Форум</a></li>
<li><a href="/about/">Про сайт</a></li>
<li class="active"><a href="/experimental/">Experimental</a></li>
{%endblock%}

{%block topnavadmin%}
<li class="dropdown">
{%endblock%}

{%block content%}
<a href="#" id="a-popover" class="btn btn-success">Abrir popover</a>

<div id="header-popover" class="hide">

	<button id="btn-fechar" type="button" class="close" aria-hidden="true">&times;</button>
	<p>Навантаження</p>
</div>


<div id="div-popover" class="hide">
	<div class="progress progress-striped">
		<div class="bar" style="width: 20%;"></div>
	</div>
	<div class="progress progress-striped">
		<div class="bar" style="width: 50%;"></div>
	</div>
	<div class="progress progress-striped">
		<div class="bar" style="width: 70%;"></div>
	</div>
	<div class="progress progress-striped">
		<div class="bar" style="width: 30%;"></div>
	</div>
</div>

<p>Page with experimental functions </p>
<a href="/logout/">Вийтит</a>
{%endblock%}