{%extends "header.html"%}

{%block title%}Experimental{%endblock%}



{%block topnavleft%}
<li><a href="/rozklad/">Розклад груп</a></li>
<li><a href="#">Розклад викладачів</a></li>
<li><a href="/forum/">Форум</a></li>
<li><a href="/about/">Про сайт</a></li>
<li class="active"><a href="/experimental/">Experimental</a></li>
{%endblock%}

{%block topnavadmin%}
<li class="dropdown">
{%endblock%}

{%block content%}



<!-- Put this script tag to the <head> of your page -->






<p>Page with experimental functions </p>
<button class="btn btn-primary" id="send_logout">logout</button>
{%endblock%}