{%extends "header.html"%}

{%block title%}Вхід{%endblock%}

{%block topnavleft%}
<li><a href="/rozklad/">Розклад груп</a></li>
<li><a href="/rozklad_teacher/">Розклад викладачів</a></li>
<li><a href="/forum/">Форум</a></li>
<li class="dropdown">
	<a class="dropdown-toggle " data-toggle="dropdown" href="#">Інформація<b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="/gmaps/">Розміщення корпусів</a></li>
		<li><a href="/about/">Про сайт</a></li>
	</ul>
</li>
<li><a href="/experimental/">Experimental</a></li>
{%endblock%}

{%block topnavadmin%}
<li class="dropdown">
{%endblock%}

{%block content%}
<div class="login-form">
	<h2>Увійдіть щоб отримати доступ</h2>
	
	<form id="login_form" action="" method="post"> 
		{% csrf_token %}
		<div class="clearfix">
			<input id="login" name="username" type="text" placeholder="Логін" value="">
		</div>
		<div class="clearfix">
			<input id="password" name="password" type="password" placeholder="Пароль" value="">
		</div>
		<input id="send_login" class="btn primary" value="Ввійти"> 
	</form>

<p style="margin: 0.4em;">
    <a href="{% url socialauth_begin 'facebook' %}?next=/forum/">Увійти через Facebook</a>
</p>
<p style="margin: 0.4em;">
    <a href="{% url socialauth_begin 'twitter' %}?next=/forum">Увійти через Twitter</a>
</p>
<p style="margin: 0.4em;">
    <a href="{% url socialauth_begin 'google-oauth2' %}?next=/forum">Увійти через Google</a>
</p>

</div>
{%endblock%}