{%extends "header.html"%}

{%block title%}Вхід{%endblock%}

{%block topnavleft%}
<li><a href="/rozklad/">Розклад груп</a></li>
<li><a href="/rozklad_teacher/">Розклад викладачів</a></li>
<li><a href="/forum/">Форум</a></li>
<li><a href="/about/">Про сайт</a></li>
<li><a href="/experimental/">Experimental</a></li>
{%endblock%}

{%block topnavadmin%}
<li class="dropdown">
{%endblock%}

{%block content%}
<div class="login-form">
	<h2>Увійдіть щоб отримати доступ</h2>
	<fieldset>
		{% csrf_token %}
		<div class="clearfix">
			<input id="login" type="text" placeholder="Логін">
		</div>
		<div class="clearfix">
			<input id="password" type="password" placeholder="Пароль">
		</div>
		<button id="send_login" class="btn primary">Ввійти</button>
<p style="margin: 0.4em;">
    <a href="{% url socialauth_begin 'facebook' %}">Enter Facebook</a>
</p>
	</fieldset>
</div>
{%endblock%}