{%extends "header.html"%}

{%block title%}Головна{%endblock%}

{%block additional_res%}<script src="/static/js/sotcial-buttons.js" type="text/javascript"></script>{%endblock%}

{%block topnavleft%}
<li><a href="/rozklad/">Розклад груп</a></li>
<li><a href="/rozklad_teacher/">Розклад викладачів</a></li>
<li><a href="/forum/">Форум</a></li>
<li class="dropdown">
	<a class="dropdown-toggle " data-toggle="dropdown" href="#">Інформація<b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="/gmaps/">Розміщення корпусів</a></li>
		<li><a href="/about/">Про сайт</a></li>
	</ul>
</li>
<li><a href="/experimental/">Experimental</a></li>
{%endblock%}

{%block topnavadmin%}
<li class="dropdown">
{%endblock%}

{%block content%}

<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="/">Головна</a></li>
	<li><a href="/rozklad/">Розклад для окремих груп</a></li>
	<li><a href="/rozklad_teacher/">Розклад для окремих викладачів</a></li>
	<li><a href="/forum/">Форум</a></li>
	<li><a href="/about/">Інформація про даний сайт</a></li>
</ul>
<div class="hero-unit">
	<h1>Розклад ФІТІС</h1>
	<p>На даному сайті кожен студент може подивитися розклад своєї групи. </p>
	<blockquote>
		<p>Розкажіть про сайт в соціальних мережах:</p>
		<div class="social_like">
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rtm7777.alwaysdata.net" data-via="rtm7777" data-lang="uk">Твіт</a>
			</div>
			<div>
				<div class="g-plusone" data-size="medium"></div>
			</div>
			<div>
				<div id="fb-root"></div>
				<div class="fb-like" data-href="http://rtm7777.alwaysdata.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
			</div>
		</div>
	</blockquote>
</div>
{%endblock%}